.App {
  text-align: center;
  background-color: #f7f3ee;
}

.navbar {
  text-align: left;
  font-size: 30px;
  margin-left: 35px;
  margin-top: -30px;
  color:
    #59775e;
}

button {
  font-family: 'Afacad', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
Stack {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}