.App {
  text-align: center;
  background-color: #f7f3ee;
  min-height: 100vh;
}

/* .navbar {
  text-align: left;
  font-size: 30px;
  margin-left: 35px;
  margin-top: -30px;
  color:
    #59775e;
  background-color: #f7f3ee;
} */

.navbar {
  text-align: left;
  background-color: #f7f3ee;
  padding: 20px 35px 0px 35px;
}

.navbar h1 {
  font-size: 30px;
  color: #59775e;
  margin: 0;
}


button {
  font-family: 'Afacad', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
Stack {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f3ee;
}

* {
  box-sizing: border-box;
}
